<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" type="text/css" href="./main.css" />

  <title>Document</title>
</head>
<body>
  <header>
    <h1>❤️J&Cs front page❤️</h1>
  </header>
  <main>
    <h3>Februarry 14th 2018</h3>
    <p>Happy valentines day :)</p>
    <p>
      This is a start, I hope that you are having a good day as you read this, and if you're down I hope thease words can lift you up.  This is a reminder of the ways you enrich my life and why I treasure you.  I love the way you sing, and I love how much you seem to enjoy it, it literaly reminds me of why I love music, I miss ukalele lessons hahaha 😅 (srsly though) I'm available for that whenever you're ready.  We only danced a few times and I wish I had danced with you every day that I was there, they were the sweetest times of my life and I look forward to many more times.  I can't wait to be there with you and hold you tight again.  I sleep better and breathe easier with you in my life, you should have seen me before, I was so mopey and blue all the time hahaha.  All the love you have shown me thease past 20 months has changed me or rather it brought out somthing in me that was dorment and I feel changed, :). I graduated galvanize knowing that you loved me and it got me through the hardest times I had there.  I have never been so motivated or driven or inspired as I am today and I only see that growing while we're together.  I hope that I can be the man that you deserve, I call you sweetheart and I mean it.  I think you have the sweetest biggest heart of anyone I know and I am so proud to be your partner and bestfriend.
    </p>
  </main>
</body>
</html>
