/* this is a useful sanity chack and layout tool */
html {

}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background:
    url("./img/sunflower.jpg") top center;
  background-size: 100% auto;
  color: #4caf50;
}

* {
  /**/
  border: 1px solid rgba(256, 0, 0, 0);
  /*/
  border: 1px solid red;
  /**/
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

main {
  width: 39%;
  font-size: 1.3em;
  min-height: 1vh;
}
@@media screen (min-width: 900px) {
}
